/*
 *
 * Body
 *
 */

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  color: #4f4f4f;
}

h1, h2, h3, h4 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #4f4f4f;
}

h1 {
  font-size: 45px;
  margin-bottom: 5px;
  color: #000;
}

p {
  text-align: center;
  padding: 5px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1200px;
  width: 100%;
}

/*
 *
 * Content
 *
 */

.row {
  width: 100%;
  flex-wrap: wrap;
}

.header-container {
  display: flex;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

.logo {
  padding-left: 50px;
  padding-top: 20px;
  height: auto;
  max-width: 100%;
}

.main-title {
  width: 50%;
  text-align: right;
  text-transform: uppercase;
  padding-right: 30px;
  padding-bottom: 15px;
}

.hero-img {
  height: auto;
  margin: 0;
  border-radius: 25px;
}

.portfolio-title {
  padding-top: 30px;
  padding-bottom: 5px;
  font-size: 2.5em;
  text-align: center;
}

.portfolio-content {
  display: inline-flex;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: space-between;
  padding-bottom: 40px;
}

.project {
  margin: 8px;
}

.project-img {
  max-width: 100%;
}

/*
 *
 * Footer
 *
 */

footer {
  background-color: #f1f1f1;
  margin-bottom: 0;
}

footer ul {
  text-align: center;
  padding: 0;
}

footer li {
  list-style: none;
  display: inline-flex;
  margin: 30px;
}

/*
 *
 * Font awesome (contact icons) color change
 *
 */

.fa {
  color: #000;
}

/*
 *
 * Media queries
 *
 */

@media screen and (max-width: 600px) {
  .logo {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 8px;
  }
  .main-title {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  h4 {
    font-size: 1.5em
  }
}

@media screen and (max-width: 800px) {
  .col-6 {
    width: 100%;
  }
  .portfolio-content {
    flex-flow: wrap column;
  }
  .project {
    max-width: 100%;
    padding-bottom: 20px;
    margin: 0;
  }
  .project-img {
    max-width: 100%;
  }
  h3 {
    font-size: 2em;
  }
  p, a {
    font-size: 1.75rem;
  }
  footer ul li {
    margin: 15px;
  }
}
